
h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inline-text {
    display: inline;
}

.flex-row {
    display: flex;
    align-items: normal;
}

.label-bold {
    margin-right: 5px; /* Adjust spacing as needed */
}

.bold {
    font-weight: bold;
}

.link-button {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
}

.link-button:hover {
    background: #0056b3;
}

/* classes used on index page */
.images-container {
    min-height: 700px; /* Adjust based on typical height with full images */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures pagination is pushed to the bottom */
}

.image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centers the items horizontally within the container */
    align-items: center; /* Optional: Aligns items vertically */
    margin-bottom: -10px; /* Adjust as necessary */
}

.image-list-item {
    flex: 0 0 250px; /* flex-basis set to 250px, does not grow or shrink */
    text-align: center;
    padding: 10px;
    margin-bottom: 10px; /* Add bottom margin to create space between the rows */
    margin-right: 10px; /* Ensures spacing between items */
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    box-sizing: border-box;
    height: 250px; /* Fixed height for each item */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distributes space around content */
    overflow: hidden; /* Hides any content that overflows the set height */
}

.image {
    width: auto;  /* Ensures the width adjusts based on the actual image size and aspect ratio */
    height: auto; /* Ensures the height adjusts based on the actual image size and aspect ratio */
    max-width: 100%; /* Ensures the image does not exceed the container width */
    max-height: 150px; /* Sets a maximum height constraint to keep image height uniform */
    object-fit: contain; /* Ensures the image is scaled correctly within its container, preserving aspect ratio */
    display: block; /* Aligns the image nicely within the container */
    margin: auto; /* Centers the image horizontally within its container */
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content horizontally */
    justify-content: center; /* Centers content vertically */
    height: 150px; /* Sets the height of the container at 150px */
}

.image-name {
    font-size: 1.2em;  /* Adjust size as necessary */
    font-weight: bold; /* Makes text bold */
    color: #333;       /* Dark color for better readability */
    text-align: center; /* Centers the text above the image */
    margin-bottom: 10px; /* Adds space between the name and the image */
}
/* end of classes used for index page */

.content-container {
    display: flex;
    align-items: start; /* Aligns items to the top */
    justify-content: space-between;
    gap: 20px; /* Adds space between the image and the text */
}

.image-info-container {
    flex: 1;
    max-width: 30%;
    margin-bottom: 30px; /* Space between images */
    padding:30px; /* Padding around the image within the border */
    border: 1px solid #ccc; /* Adds a light gray border */
    text-align: left;
    background-color: #b0c4de; /* Light blue-grey */
}

.image-show-container {
    flex: 1;
    max-width: 70%;
    margin-bottom: 30px; /* Space between images */
    padding: 10px; /* Padding around the image within the border */
    border: 1px solid #ccc; /* Adds a light gray border */
    text-align: left;
}


.image-show, .image {
    width: 100%; /* Make the image fill the container */
}

.image-show {
    height: 100%;
}


.image-description {
    flex: 2;
    padding: 10px;
}

.actions, .image-list {
    list-style-type: none;
    padding: 0;
}

.actions li, .image-list-item {
    display: inline-block;
    margin-right: 10px;  /* Right margin for inline elements */
}

/* start of form classes */
.form-container {
    max-width: 600px;
    margin: 20px auto; /* Shorthand for top-bottom and left-right */
    padding: 20px; /* All four sides */
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.form-container label, .form-container input[type="submit"] {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-container input[type="text"],
.form-container textarea,
.form-container input[type="file"] {
    width: 100%;
    padding: 8px; /* All four sides */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container input[type="submit"] {
    background: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container input[type="submit"]:hover {
    background: #0056b3;
}

.form-container textarea {
    height: 100px;
}
/* end of form classes */

/* style for pagination */
.pagination {
    text-align: center;
    margin-top: 30px;
}

.pagination a {
    padding: 8px 16px;
    margin: 5px;
    border-radius: 5px;
    background-color: #f4f4f4;
    text-decoration: none;
    color: #333;
}

.pagination a:hover {
    background-color: #ddd;
}

.pagination .current {
    background-color: #007bff;
    color: white;
}