<li class="image-list-item">
  <div class="image-list-container">
    <% if image.file.attached? %>
      <% puts "File attached: #{image.file.inspect}" %>
      <%= image_tag(image.file.variant(resize_to_limit: [200, 150]).processed, class: 'image') %>
    <% else %>
      <p>No image available</p>
    <% end %>
    <%= link_to 'Show Image', image_path(image), class: 'show-image-link' %>
  </div>
</li>
