<%= link_to 'New Image', new_image_path, class: 'new-image-link' %>
<h1>Images Home Page</h1>

<div class="images-container">
  <ul class="image-list">
    <%= render @images %>
  </ul>

  <div class="pagination">
    <%= pagy_nav(@pagy).html_safe %>
  </div>
</div>